@font-face {
  font-family: "NotoSansKR";
  src: url(./assets/fonts/NotoSansKR-Regular.otf);
}

:root {
  --font-NotoSansKR : "NotoSansKR";
}

body {
  font-family: var(--font-NotoSansKR);
  margin: 0;
  padding: 0;
  background: #e9ecef;
}