.TodoList {
    min-height: 320px;
    max-height: 513px;
    overflow-y: auto;
}

.TodoListItem {
    padding: 1rem;
    display: flex;
    align-items : center;
    // 짝수 요소에 흰색 배경을 입혀준다.
    &:nth-child(even) {
        background: #f8f9fa;
    }

    .checkBox {
        cursor: pointer;
        flex: 1; // 할 일 요소가 차지할 수 있는 영역을 모두 차지
        display: flex;
        align-items: center;

        svg {
            // 아이콘
            font-size : 1.6rem;
        }

        .text {
            margin-left: 0.5rem;
            flex : 1;
        }

        // 체크되었을 경우 보여줄 스타일
        &.checked {
            svg {
                color : #22b8cf;
            }        

            .text {
                color : #adb5bd;
                text-decoration: line-through;
            }
        }
    }

    
    .remove {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color : #ff6b6b;
        cursor : pointer;
        &:hover {
            color : #f84f4f;
        }
    }

    // 엘레먼트 각 요소 사이에 테두리를 넣어준다.
    & + & {
        border-top: 1px solid #dee2e6;
    }
}